
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}


body{
  margin: 0;
  min-height: 83vh;
  background-color:rgb(200, 240, 188);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.container{
  padding:2rem 3rem ;
  margin:4rem auto;
  background-color:white;
  box-shadow: 2px 5px 12px rgb(167, 163, 163), 5px 0 0 rgb(167, 163, 163), 5px 5px 0 rgb(167, 163, 163);
  border-radius:10px;
  transition: 0.8ms ease-in-out;
}
h1{
  text-decoration:underline;
}
h2{
  font-weight:200;
  font-family: 'Gill Sans';
  
}
button{
  background-color:rgb(49, 180, 9);
  color:white;
  font-size:20px;
  font-weight:bold;
  padding:0.5rem 1rem;
  border:none;
  border-radius:10px;
  transition: 0.4s ease-in-out;

}
button:hover{
  background-color:rgb(36, 128, 9);
  transform:scale(1.09);
  cursor:pointer;
}
